@import "tailwindcss";
@import "./styles/fonts.css";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-blue: rgb(0, 42, 255);
}

.grain-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/backgrounds/grain.svg");
  background-repeat: repeat;
  background-size:
    400px 400px,
    cover;
  mix-blend-mode: luminosity;
  opacity: 0.5;
}
